{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "env": {
    "mocha": true,
    "node": true
  },
  "globals": {
    "Meteor": false,
    "window": false,
    "document": false
  },
  "rules": {
    "import/no-unresolved": [2, { "ignore": ["^meteor/"] }],
    "import/prefer-default-export": 0,
    "max-len": 0,
    "no-console": 0,
    "no-plusplus": 0,
    "object-curly-newline": 0
  }
}
